body {
    min-width: 320px;
    max-width: 750px;
    /* flexible给我们划分了10等份 */
    width: 10rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Arial, Helvetica;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #333;
    font-size: .333333rem;
}


/* 这个插件默认的html文字大小 cssrem 16px */


/* img {
    height: 1rem;
    width: 1.093333rem;
} */


/* 如果屏幕超过的750px，那么就按750的设计稿走，不让页面超过750px */


/* search-content */

@media screen and (min-width: 750px) {
    html {
        /* 强制，增加他的全权重 */
        font-size: 75px!important;
    }
}

.search-content {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 1.173333rem;
    background-color: #ffc001;
}

.classify {
    width: .586667rem;
    height: .933333rem;
    background: url(../images/classify.png);
    margin: .146667rem .333333rem .133333rem;
}

.search {
    flex: 1;
}

.search input {
    outline: none;
    border: 0;
    width: 100%;
    height: .88rem;
    margin-top: .133333rem;
    border-radius: 0.44rem;
    padding-left: .733333rem;
    background-color: #fff2cc;
    font-size: .333333rem;
    color: #757575;
}

.login {
    width: 1rem;
    height: .933333rem;
    margin: .133333rem;
    font-size: .333333rem;
    line-height: .933333rem;
    text-align: center;
    color: #f2f2f2;
}